Dynamics.365.Crm/Apttus.XAuthor.DynamicsCRMIntegration.SandBox/Service References/ServiceReference1/ProxyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProxyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57215/ProxyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57215/ProxyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxyService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IProxyService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_CreateAccountwithImporonatedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountwithImporonatedUser" />
  </wsdl:message>
  <wsdl:message name="IProxyService_CreateAccountwithImporonatedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountwithImporonatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_RetrieveData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveData" />
  </wsdl:message>
  <wsdl:message name="IProxyService_RetrieveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyService_getConnectedandReturnAccountName_InputMessage">
    <wsdl:part name="parameters" element="tns:getConnectedandReturnAccountName" />
  </wsdl:message>
  <wsdl:message name="IProxyService_getConnectedandReturnAccountName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConnectedandReturnAccountNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxyService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/DoWork" message="tns:IProxyService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/DoWorkResponse" message="tns:IProxyService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccountwithImporonatedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/CreateAccountwithImporonatedUser" message="tns:IProxyService_CreateAccountwithImporonatedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/CreateAccountwithImporonatedUserResponse" message="tns:IProxyService_CreateAccountwithImporonatedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/RetrieveData" message="tns:IProxyService_RetrieveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/RetrieveDataResponse" message="tns:IProxyService_RetrieveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConnectedandReturnAccountName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyService/getConnectedandReturnAccountName" message="tns:IProxyService_getConnectedandReturnAccountName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyService/getConnectedandReturnAccountNameResponse" message="tns:IProxyService_getConnectedandReturnAccountName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxyService" type="tns:IProxyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IProxyService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccountwithImporonatedUser">
      <soap:operation soapAction="http://tempuri.org/IProxyService/CreateAccountwithImporonatedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <soap:operation soapAction="http://tempuri.org/IProxyService/RetrieveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConnectedandReturnAccountName">
      <soap:operation soapAction="http://tempuri.org/IProxyService/getConnectedandReturnAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyService">
    <wsdl:port name="BasicHttpBinding_IProxyService" binding="tns:BasicHttpBinding_IProxyService">
      <soap:address location="http://localhost:57215/ProxyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>